<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>College Quora</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <style>


            #navitem {
                background-color: transparent;
            }

            #navlinkitem {
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: 20px;
            }

            .fa-globe {
                font-size: xx-large;
            }
            .links{
              height: auto;
            }
            .headr {
                width: 100%;
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: #333;
            }

            .tag {
                background-color: rgb(214, 213, 213);
                border-radius: 5px;
            }

            .footr {
                background-color: rgb(50, 107, 24);
            }
            #hammenu{
              display: none;
              cursor: pointer;
            }
            .cont{
              width: 75%;

            }
            @media screen and (max-width:768px) {
              .showlinks{
                display:none;
                /* height: 100px; */
              }
              #hammenu{
                display: block;
              }
              .cont{
                width: 100%;
              }
            }
        </style>
    </head>

    <body>

        <!-- navber -->

        <div class="navbar  container-fluid flex-xl-row flex-column headr">
            <div class=" ml-md-3">
                <a href="#" style="text-decoration: none;color: white;"><i class="fa fa-globe navbar-brand"></i></a>
            </div>
            <div class="position-absolute btn" id="hammenu" style="right:30px;font-size:30px;color:white;">
              <i class="fa fa-bars"></i>
            </div>
            <div class="links showlinks">
                <ul class="list-group flex-md-row flex-column" style="background-color: transparent;">
                    <li class="list-group-item border-0" id="navitem">
                        <div class="input-group"><input type="text" class="form-control" placeholder="type something">
                            <div class="input-group-append"><span
                                    class="input-group-text btn btn-primary font-weight-bold"><i
                                        class="fa fa-search"></i></span></div>
                        </div>
                    </li>
                    <li class="list-group-item border-0 text-center" id="navitem"><a href="/profile/<%=user._id%>"
                            id="navlinkitem"><%= user.username %></a></li>
                    <li class="list-group-item border-0 text-center" id="navitem"><a href="/home/<%=user._id%>/1"
                            id="navlinkitem">Home</a></li>
                    <li class="list-group-item border-0 text-center" id="navitem"><a href="/about"
                            id="navlinkitem">About Us</a></li>
                            <li class="list-group-item border-0 text-center" id="navitem"><a href="mailto:yaduveera26@email.com?subject=InformationRequested&body=" target="_blank" id="navlinkitem">Contact Us</a></li>
                    <li class="list-group-item border-0 text-center" id="navitem"><a href="/login"
                              id="navlinkitem">Log Out</a></li>
                </ul>
            </div>
        </div>

        <!-- body -->

        <div class="container-md container-fluid cont border border-primary mt-2">
            <div class="text-center"><h3 class="font-weight-bolder">My Questions</h3></div>
            <%let loc = 1; %>
            <%if(success.length){ %>
              <%success.forEach(function(msg){%>
              <div class="alert alert-success">
                <%= msg %>
              </div>
              <%})%>
            <%}%>
            <% datas.reverse(); %>
            <% datas.forEach(function(dt){ %>
            <div class="card my-3 shadow-lg p-md-3  w-100">
                <div class="card-header d-flex flex-xl-row flex-column justify-content-start align-items-center border-0"
                    style="background-color: rgb(50, 93, 122);color: white;font-weight: bold;">
                    <div style="width: 90%;"><%= dt.content %></div>
                                    </div>
                <div class="card-body border-0 d-flex flex-row justify-content-between align-items-center">
                    <ul class=" list-group flex-sm-row flex-column">
                        <li class="list-group-item border-0 tag mr-md-2 mb-2"><a href="#"
                                style="text-decoration: none;color: black;"><%=dt.name%></a></li>
                    </ul>
                    <!-- <% if(user._id == dt.uid){ %> -->
                    <ul class="list-group flex-row">
                        <a class=" btn  list-group-item mr-1 border-0" href="/edit_question/<%= dt._id %>/<%=user._id%>/<%=loc%>"> <i class="fa fa-pencil mt-1" style="font-size: 24px; color:rgb(50, 93, 122)"></i> </a>
                        <a class=" btn  list-group-item border-0" href="/delete_question/<%= dt._id %>/<%=user._id%>/<%=loc%>"> <i class="fa fa-trash mt-1" style="font-size: 24px; color:red"></i> </a>
                        <!-- <a class=" btn  list-group-item border-0" href="#myModal"> <i class="fa fa-trash mt-1" style="font-size: 24px; color:red"></i> </a> -->



                    </ul>
                    <!-- <% } %> -->



                </div>
                <div class="card-footer border-0" >
                    <a class="btn btn-primary font-weight-bold" href="/show_more/<%=dt._id %>/<%=user._id%>/">Show more...</a>
                </div>
            </div>



            <% }); %>
        </div>
        <!-- footer -->

        <!-- <div
            class="footr container-md container-fluid d-flex flex-md-row flex-column justify-content-around align-items-center">
            <div class="my-3">
                <ul class="list-group flex-md-row flex-column" style="background-color: transparent;">

                    <li class="list-group-item border-0 text-center" id="navitem"><a href="/question"
                            id="navlinkitem">Write a Question</a></li>
                    <li class="list-group-item border-0 text-center" id="navitem"><a href="/about"
                            id="navlinkitem">About
                            Us</a></li>
                    <li class="list-group-item border-0 text-center" id="navitem"><a href="/contact"
                            id="navlinkitem">Contact
                            Us</a></li>
                    <li class="list-group-item border-0 text-center" id="navitem"><a href="/login"
                              id="navlinkitem">logout</a></li>
                </ul>
            </div>
        </div> -->
        <div class=" container-md container-fluid mt-3  text-center" style="background-color:#333;">
            <span><i class="fa fa-copyright mr-2 text-white font-weight-bold"></i><span
                    class="text-white font-weight-bold">College Quora , National Institute of Technology , Durgapur 2020
                </span></span>
        </div>
        <script type="text/javascript">
          let hammenu = document.getElementById('hammenu');
          let links = document.querySelector('.links');
          hammenu.addEventListener('click',function(){
            links.classList.toggle('showlinks');
          });
        </script>
    </body>

</html>
