<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        

    <title>Document</title>
</head>
<body>
    <div class="container-md border border-primary">
        <div class="font-weight-bolder text-center">
            <h2>Attandance</h2>
        </div>

        <form action="/profile/<%= user._id %>/course" method="POST">
            <div class="form-group">
                <label for="course">Enter course name : </label>
                <input type="text" class="form-control" id="course" name="course" placeholder="Enter course name....">
            </div>
            <div class="form-group">
                <button type="submit"  class="btn btn-primary">Add course</button>
            </div>
        </form>

        <ul class="list-group flex-column container">
            <% let i = 0; %>
            <% user.attendance.forEach(function(att){ %>

                <li class="list-group-item flex-row justify-content-around align-items-center">
                    <div><%= att.sub_code %></div>
                    <div><%= (att.present*100)/(att.present + att.absent) %></div>
                    <div>
                        <button class="btn btn-success"> <a href="/present/<%= user._id %>/<%= i %>">Present</a></button>
                        <button class="btn btn-danger"> <a href="/absent/<%= user._id %>/<%= i %>">Absent</a></button>
                    </div>
                </li>
                <% i++; %>
            <% }) %>
        </ul>
    </div>
</body>
</html>