<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Quora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .subject{
            width: 30%;
        }
        textarea{
            width: 70%;
            height: 50vh;
        }
        @media screen and (max-width:546px){
            .subject{
                width: 95%;
            }
        }
        @media screen and (max-width:1000px){
            textarea{
                width: 99%;
            }
        }
    </style>
</head>
<body>
    <div class="container-md container-fluid mt-4">
      <!-- navber -->

      <div class="navbar  container-fluid flex-xl-row flex-column headr">
          <div class=" ml-md-3">
              <a href="#" style="text-decoration: none;color: white;"><i class="fa fa-globe navbar-brand"></i></a>
          </div>
          <div class="position-absolute btn" id="hammenu" style="right:30px;font-size:30px;color:white;">
            <i class="fa fa-bars"></i>
          </div>
          <div class="links showlinks">
              <ul class="list-group flex-md-row flex-column" style="background-color: transparent;">
                  <li class="list-group-item border-0" id="navitem">
                      <div class="input-group"><input type="text" class="form-control" placeholder="type something">
                          <div class="input-group-append"><span
                                  class="input-group-text btn btn-primary font-weight-bold"><i
                                      class="fa fa-search"></i></span></div>
                      </div>
                  </li>
                  <li class="list-group-item border-0 text-center" id="navitem"><a href="/profile/<%=user._id%>"
                          id="navlinkitem"><%= user.username %></a></li>
                  <li class="list-group-item border-0 text-center" id="navitem"><a href="/question/<%=user._id%>"
                          id="navlinkitem">Write a Question</a></li>
                  <li class="list-group-item border-0 text-center" id="navitem"><a href="/about"
                          id="navlinkitem">About Us</a></li>
                  <li class="list-group-item border-0 text-center" id="navitem"><a href="/contact"
                          id="navlinkitem">Contact Us</a></li>
                  <li class="list-group-item border-0 text-center" id="navitem"><a href="/logout/<%=user._id%>"
                            id="navlinkitem">Log Out</a></li>
              </ul>
          </div>
      </div>
      <%if(error){%>
        <%error.forEach(function(err){%>
          <div class="alert alert-danger text-center">
            <%=err%>
          </div>
        <%})%>
      <%}%>
        <form method="POST" action="/question/<%=uid%>">
        <div class="form-group">
            <label class="font-weight-bold">Subject code</label>
            <input type="text" class="form-control mb-3 subject" name="subjectcode" placeholder="eg : csc401 or type 'tech' for other">
            <div><textarea class="font-weight-bold mb-3" placeholder="start typing" name="problem"></textarea></div>
            <div>
            <label for="media" class="mr-2 font-weight-bold">Select image:</label>
            <input type="file" id="img" name="media" accept="image/*">
            </div>
            <button class="btn btn-primary font-weight-bold mt-2" type="submit">Submit</button>
        </div>
        </form>
    </div>
    <script type="text/javascript">
      let hammenu = document.getElementById('hammenu');
      let links = document.querySelector('.links');
      hammenu.addEventListener('click',function(){
        links.classList.toggle('showlinks');
      });
    </script>
</body>
</html>
